.offers{
    width: 65%;
    height: 50vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-top: 70px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
}
.offers-left{
    margin-top: 90px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 57px;
    font-weight: 600;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.offers-left p{
    color: #171717;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    /* word-spacing: 10px; */
    text-transform: uppercase;
}
.offers-left button{
    width: 282px;
    /* height: 277px; */
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.offers-left button:hover{
    background: #f86464;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 170px;
}
.offers-right img{
    width: 77%;
}

/* responsive */

@media(max-width:1280px){
    .offers{
        margin: 0px 80px;
        margin-top: 70px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 17px;
    }
    .offers-right img{
        width: 300px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right{
        padding-top: 120px;
    }
}

@media(max-width:1024px){
    .offers{
        margin-top: 30px;
        height: 40vh;
        margin-left: 37px;
    }
    .offers-left h1{
        font-size: 30px;
    }
    .offers-left p{
        font-size: 15px;
    }
    .offers-right img{
        width: 250px;
    }
    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
}

@media(max-width:800px){
    .offers{
        margin-top: 70px;
        width: 55%;
        margin-left: 37px;
        height: 30vh;
    }
    .offers-left h1{
        font-size: 22px;
    }
    .offers-left p{
        font-size: 13px;
    }
    .offers-right img{
        width: 200px;
        margin-right: -27px;
    }
    .offers-left button{
        width: 140px;
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width:500px){
    .offers{
        height: 25vh;
        margin-top: 50px;
        width: 30%;
        margin-left: 30px;
    }
    .offers-left{
        margin-left: -20px;
    }
    .offers-left h1{
        font-size: 20px;
        margin-left: -90px;
    }
    .offers-left p{
        font-size: 12px;
        margin-left: -90px;
        /* font-weight: lighter; */
    }
    .offers-right img{
        width: 200px;
        margin-top: 20px;
        /* margin-left: 7px; */
    }
    .offers-left button{
        width: 120px;
        height: 35px;
        font-size: 15px;
        /* margin-top: 20px; */
        /* margin-left: -70px; */
    }
}